
body {
	background-image: url('../images/background-1.jpg');
}

.how-to-play{
	background-color: #ffffcc;
}

#gameSection {
	margin-left: auto;
	margin-right: auto;
}

#final-section {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#final-section {
	background-color: skyblue;
}

/*FOR TESTING*/
#numberSection, #totalPoints {
	background-color: lightseagreen;
}

#buttonSection {
	align-content: center;
	background-image: url('../images/background-1.jpg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position-y: center;
	background-position-x: calc(100%);
	padding-left: 25%;
	padding-right: 15%;
	padding-top: 50px;
	padding-bottom: 25px;
}

/* Fonts */
h2{
	background-color: orange;
}
h2, h3 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	padding: 10px;
}

p {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.numberBox {
	font-size: 50px;
	margin: 0px;
}

.icons {
	margin-left: 20px;
	display: inline-block;
  	max-width: 100px;
  	max-height: 100px;
  	width: auto;
  	height: auto;
}

.icons:hover {
	border: 1px solid red ;
}